footer {
    width: 100%;
    height: auto;
    background: $footerBg_1;
    position: relative;
    z-index: 3;

    .top {
        width: 1528px;
        display: flex;
        justify-content: center;
        margin: 0 auto ;
        padding-top: 45px;

        //左部
        .left {
            width: 50%;
            height: auto;
            background: $footerBg_1;

            .title {
                width: 100%;
                height: auto;
                display: flex;
                padding-left: 15px;
                box-sizing: border-box;

                p {
                    color: $footerTitle_2;
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .box {
                width: 100%;
                height: auto;
                padding-bottom: 20px;
                display: flex;
                flex-wrap: wrap;

                div {
                    flex-shrink: 0;
                    margin: 10px 12px;
                }
            }

            .partner {
                width: 100%;
                height: auto;
                margin: 0 auto;
                box-sizing: border-box;
                padding: 0 10px;

                .box {
                    
                    div {
                        height: 46px;

                        &.ab {
                            width: 100px;
                        }
                        &.ag {
                            width: 109px;
                        }
                        &.atux,
                        &.ftp {
                            width: 140px;
                        }
                        &.bng {
                            width: 102px;
                        }
                        &.bp {
                            width: 142px;
                        }
                        &.dg {
                            width: 75px;
                        }
                        &.elk {
                            width: 96px;
                        }
                        &.ely,
                        &.evo {
                            width: 137px;
                        }
                        &.evoplay,
                        &.sp {
                            width: 124px;
                        }
                        &.gh {
                            width: 58px;
                        }
                        &.ifun,
                        &.pg {
                            width: 126px;
                        }
                        &.jili {
                            width: 73px;
                        }
                        &.mg {
                            width: 135px;
                        }
                        &.net {
                            width: 92px;
                        }
                        &.nolimit {
                            width: 121px;
                        }
                        &.og {
                            width: 52px;
                        }
                        &.pls {
                            width: 173px;
                        }
                        &.png {
                            width: 115px;
                        }
                        &.pp {
                            width: 95px;
                        }
                        &.qs {
                            width: 111px;
                        }
                        &.redrake {
                            width: 77px;
                        }
                        &.redtiger,
                        &.sa {
                            width: 103px;
                        }
                        &.relax {
                            width: 101px;
                        }
                        &.rsg {
                            width: 70px;
                        }
                        &.sport {
                            width: 97px;
                        }
                        &.tpg {
                            width: 109px;
                        }
                        &.wm {
                            width: 40px;
                        }
                        &.ygg {
                            width: 133px;
                        }
                    }
                }
            }
        }

        //右部
        .footerList {
            width: 50%;
            height: auto;
            // background: $footerBg_2;
            padding: 0 0 40px 40px;

            .center {
                width: 100%;
                height: auto;
                margin: 0 auto;
                display: flex;
                // padding-left: 40px;

                ul {
                    width: 100%;
                    height: auto;
                    display: flex;
                    
                    &:first-child {
                        flex-direction: column;
                    }

                    li {
                        width: 100%;
                        height: auto;
                        padding: 0 10px 40px;
                        box-sizing: border-box;

                        .title {
                            color: $footerTitle_1;
                            font-size: 21px;
                            font-weight: bold;
                            margin-bottom: 30px;
                            text-decoration: underline;
                        }

                        button {
                            width: 100%;
                            height: auto;
                            margin-bottom: 20px;
                            background: none;
                            position: relative;
                            color: $footerTitle_2;
                            font-size: 16px;
                            font-weight: bold;
                            text-align: left;

                            &:last-child {
                                margin: 0;
                            }

                            &::before {
                                opacity: 0;
                                content: "";
                                position: absolute;
                                left: -25px;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 18px;
                                height: 18px;
                                background: $footerTitle_3;
                                clip-path: polygon(50% 0,86% 50%,50% 100%,14% 50%);
                                transition: 0.3s all;
                                pointer-events: none;
                            }

                            &:hover,&:active,&.active {
                                color: $footerTitle_3;

                                &::before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            .buttonGroup {
                width: 100%;
                height: auto;
                display: flex;
                // justify-content: center;
                margin-top: 20px;

                .serviceBtn {
                    width: 201px;
                    height: 54px;
                    @include footerBtn;
                    border-radius: 30px;
                    margin-right: 80px;
                }

                .iframe-box {
                    width: 201px;
                    height: 54px;
                    @include footerBtn2;
                    border-radius: 30px;
                    margin-right: 80px;

                    img {
                        width: 121px;
                        height: 48px;
                        margin: auto;
                    }
                    
                }

                .twitter {
                    width: 57px;
                    height: 57px;
                    // margin: 0 50px;

                    &:hover,&:active,&.active {

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // 下部
    .bottom {
        width: 100%;
        height: auto;
        background: $footerBg_3;

        .payments {
            width: 1350px;
            height: auto;
            margin: 0 auto;
            box-sizing: border-box;
            padding: 0 10px;

            .title {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                box-sizing: border-box;
    
                p {
                    color: $footerTitle_2;
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .box {
                display: flex;
                justify-content: center;
                padding: 8px 0 20px;

                div {
                    height: 35px;
                    margin: 0 10px;

                    &.bank {
                        width: 114px;
                    }
                    &.imove {
                        width: 110px;
                    }
                    &.iwallet {
                        width: 112px;
                    }
                    &.sticpay {
                        width: 111px;
                    }
                    &.tigerpay {
                        width: 135px;
                    }
                    &.usdt {
                        width: 99px;
                    }
                    &.vega {
                        width: 163px;
                    }
                }
            }
        }
    }
}
