//背景
body .bg {
    background: url("../img/bg.png") no-repeat ;
    background-size: 100%;
}
//手機下載
body aside .download i {
    background: url("../img/downloadIc.png") no-repeat center;
    background-size: contain;
} 
//service
body aside .service li i {
    background: url("../img/serviceIc.png") no-repeat;
    background-size: 500%;
} 
header .top .logo {
    background: url("../img/logo.png") no-repeat center;
    background-size: contain;
}
.home .circleBg {
    background: url("../img/circleBg2.png") no-repeat center;
    background-size: contain;
}
.home .marqueeGroup .decorationR {
    background: url("../img/decorationR.png") no-repeat center;
    background-size: contain;
}
.home .gameGroup .typeGroup .circle .hotIc {
    background: url("../img/icon/hotIc.png") no-repeat center;
    background-size: contain;
}
.home .gameGroup .typeGroup .circle .slotIc {
    background: url("../img/icon/slotIc.png") no-repeat center;
    background-size: contain;
}
.home .gameGroup .typeGroup .circle .liveIc {
    background: url("../img/icon/liveIc.png") no-repeat center;
    background-size: contain;
}
.home .gameGroup .typeGroup .circle .sportIc {
    background: url("../img/icon/sportIc.png") no-repeat center;
    background-size: contain;
}
.home .gameGroup .typeGroup .circle .fishIc {
    background: url("../img/icon/fishIc.png") no-repeat center;
    background-size: contain;
}
.home .gameGroup .typeGroup .circle .boardIc {
    background: url("../img/icon/boardIc.png") no-repeat center;
    background-size: contain;
}
main .eventWrap .eventTitle {
    background: url("../img/eventTitle_bg.png") no-repeat center;
    background-size: cover;
}
//footer
footer .twitter {
    background: url('../img/icon/svg/twitter.svg') no-repeat !important;
    background-size: contain;
}
footer .payments .bank {
    background: url('../img/partner/footer_payments/bank.png') no-repeat center;
}
footer .payments .usdt {
    background: url('../img/partner/footer_payments/usdt.png') no-repeat center;
}
footer .payments .vega {
    background: url('../img/partner/footer_payments/vega.png') no-repeat center;
}
footer .payments .imove {
    background: url('../img/partner/footer_payments/imove.png') no-repeat center;
}
footer .payments .sticpay {
    background: url('../img/partner/footer_payments/sticpay.png') no-repeat center;
}
footer .payments .iwallet {
    background: url('../img/partner/footer_payments/iwallet.png') no-repeat center;
}
footer .payments .tigerpay {
    background: url('../img/partner/footer_payments/tigerpay.png') no-repeat center;
}
footer .partner .ag {
    background: url('../img/partner/footer_partner/ag.png') no-repeat center;
}
footer .partner .sa {
    background: url('../img/partner/footer_partner/sa.png') no-repeat center;
}
footer .partner .dg {
    background: url('../img/partner/footer_partner/dg.png') no-repeat center;
}
footer .partner .tpg {
    background: url('../img/partner/footer_partner/tpg.png') no-repeat center;
}
footer .partner .og {
    background: url('../img/partner/footer_partner/og.png') no-repeat center;
}
footer .partner .sp {
    background: url('../img/partner/footer_partner/sp.png') no-repeat center;
}
footer .partner .mg {
    background: url('../img/partner/footer_partner/mg.png') no-repeat center;
}
footer .partner .pp {
    background: url('../img/partner/footer_partner/pp.png') no-repeat center;
}
footer .partner .gh {
    background: url('../img/partner/footer_partner/gh.png') no-repeat center;
}
footer .partner .elk {
    background: url('../img/partner/footer_partner/elk.png') no-repeat center;
}
footer .partner .ftp {
    background: url('../img/partner/footer_partner/ftp.png') no-repeat center;
}
footer .partner .pg {
    background: url('../img/partner/footer_partner/pg.png') no-repeat center;
}
footer .partner .bng {
    background: url('../img/partner/footer_partner/bng.png') no-repeat center;
}
footer .partner .ab {
    background: url('../img/partner/footer_partner/ab.png') no-repeat center;
}
footer .partner .pls {
    background: url('../img/partner/footer_partner/pls.png') no-repeat center;
}
footer .partner .rsg {
    background: url('../img/partner/footer_partner/rsg.png') no-repeat center;
}
footer .partner .bp {
    background: url('../img/partner/footer_partner/bp.png') no-repeat center;
}
footer .partner .redtiger {
    background: url('../img/partner/footer_partner/redtiger.png') no-repeat center;
}
footer .partner .ifun {
    background: url('../img/partner/footer_partner/ifun.png') no-repeat center;
}
footer .partner .redrake {
    background: url('../img/partner/footer_partner/redrake.png') no-repeat center;
}
footer .partner .ely {
    background: url('../img/partner/footer_partner/ely.png') no-repeat center;
}
footer .partner .atux {
    background: url('../img/partner/footer_partner/atux.png') no-repeat center;
}
footer .partner .evoplay {
    background: url('../img/partner/footer_partner/evoplay.png') no-repeat center;
}
footer .partner .sport {
    background: url('../img/partner/footer_partner/sport.png') no-repeat center;
}
footer .partner .png {
    background: url('../img/partner/footer_partner/png.png') no-repeat center;
}
footer .partner .relax {
    background: url('../img/partner/footer_partner/relax.png') no-repeat center;
}
footer .partner .wm {
    background: url('../img/partner/footer_partner/wm.png') no-repeat center;
}
footer .partner .ygg {
    background: url('../img/partner/footer_partner/ygg.png') no-repeat center;
}
footer .partner .net {
    background: url('../img/partner/footer_partner/net.png') no-repeat center;
}
footer .partner .jili {
    background: url('../img/partner/footer_partner/jili.png') no-repeat center;
}
footer .partner .nolimit {
    background: url('../img/partner/footer_partner/nolimit.png') no-repeat center;
}
footer .partner .evo {
    background: url('../img/partner/footer_partner/evo.png') no-repeat center;
}
footer .partner .qs {
    background: url('../img/partner/footer_partner/qs.png') no-repeat center;
}

.innerPage .marqueeGroup .decorationR {
    background: url("../img/decorationR.png") no-repeat center;
    background-size: contain;
}
.innerPage .marqueeGroup i {
    background: url("../img/marqueeIc.png") no-repeat center;
    background-size: contain;
}

.innerPage .center > div.midSide.vip .midBottom .content .vipCardList ul ol li {
    background: url("../img/vipLevel_01.png") no-repeat;
    background-size: 100%;
}

.innerPage .center > div.midSide.deposit .midTop .objectList .payType li:nth-of-type(1) .pay_Icon {
    background: url("../img/icon/svg/payWay01.svg") no-repeat center;
    background-size: 100%;
}

.innerPage .center > div.midSide.deposit .midTop .objectList .payType li:nth-of-type(2) .pay_Icon {
    background: url("../img/icon/svg/payWay02.svg") no-repeat center;
    background-size: 100%;
    width: 22px;
    height: 22px;
}

.innerPage .center > div.midSide.deposit .midTop .objectList .payType li:nth-of-type(3) .pay_Icon {
    background: url("../img/icon/svg/payWay03.svg") no-repeat center;
    background-size: 100%;
    width: 22px;
    height: 22px;
}

.innerPage .center > div.midSide.vip .midBottom .content .vipCardList li .medal {
    background: url("../img/medal_01.png") no-repeat;
    background-size: 100%;
}

.registerWrap .signUpBlock .decPic {
    background: url(../img/register_background2.png) no-repeat center;
    background-size: cover;
}